<!DOCTYPE html>

{% block head %}
<html lang="en">
<head>
    <meta charset="UTF-8">
{% endblock %}

{% block body %}
</head>
<body style="text-align: center">
{% comment %}
<!--    <div><img src="/static/booktest/images/head.png"></div>-->
<!--    <div><img src="{{ STATIC_URL }}booktest/images/head.png"></div>-->
{% endcomment %}
    <div><img src="{% static 'booktest/images/head.png' %}"></div>
{% endblock %}

{% block content %}
    <div><h1>这是网页内容模块</h1></div>
{% endblock%}

{% block footer %}
</body>
<footer>
    <div><h1>这是网页底部模块</h1></div>
</footer>
</html>
{% endblock%}

