{% extends "booktest/base.html" %}

{% block head %}
    {{ block.super }}
{% endblock %}
    <title>书籍详情</title>
{% block body %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h1>hello,Django</h1>
    {% if book %}
        <div>序号：{{ book.id }}</div>
        <div>书名：{{ book.bname }}</div>
        <div>发布时间：{{ book.bpub_date }}</div>
        <div>阅读数：{{ book.bread }}</div>
        <div>评论数：{{ book.bcomment }}</div>
    {% endif %}

{% endblock %}

{% block footer %}
    {{ block.super }}
{% endblock %}