<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django模板首页</title>
</head>
<body>
    <h1>hello,Django</h1>
    <div>
        <table width="800px;" border="1" style="border-style: inherit;border-spacing:inherit">
            <tr>
                <th width="10%">序号ID</th>
                <th width="20%">书名</th>
                <th width="20%">发布时间</th>
                <th width="10%">阅读数</th>
                <th width="10%">评论数</th>
                <th width="30%">操作</th>
            </tr>
            {% if book_list %}
                {% for book in book_list %}
                    <tr style="text-align: center">
                        <td width="10%">{{ book.id }}</td>
                        <td width="20%"><a href="detail/{{book.id}}">{{ book.bname }}</a></td>
                        <td width="20%">{{ book.bpub_date }}</td>
                        <td width="10%">{{ book.bread }}</td>
                        <td width="10%">{{ book.bcomment }}</td>
                        <td width="30%"><a href="detail/{{book.id}}">查看</a>&nbsp; &nbsp;<a href="add">新增</a>&nbsp; &nbsp;<a href="edit/{{book.id}}">编辑</a>&nbsp; &nbsp;<a href="delete/{{book.id}}">删除</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6" style="text-align: center;"> 查无数据</td>
                </tr>
            {% endif %}
        </table>
        <div>数据分页层</div>
    </div>
</body>
</html>