<!DOCTYPE html>
{% extends "booktest/base.html" %}

{% block head %}
    {{ block.super }}
{% endblock %}
    <title>书籍首页</title>
{% block body %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h1>hello,Django</h1>
    <div style="border: 1px solid #e4b9b9;margin:0 auto;width: 64%">
        <table width="100%" border="1" style="text-align:center;border-style: inherit;border-spacing:inherit">
            <tr>
                <th width="10%">序号ID</th>
                <th width="20%">书名</th>
                <th width="15%">版面照</th>
                <th width="10%">发布时间</th>
                <th width="5%">阅读数</th>
                <th width="5%">评论数</th>
                <th width="25%">操作</th>
            </tr>
            {% for book in list %}
                <tr style="text-align: center">
                    <td width="10%">{{ book.id }}</td>
                    <td width="20%"><a href="{% url 'booktest:detail1' id=book.id %}">{{ book.bname | default:'书名未录入' }}</a></td>
                    <td width="10%"><img src="{% static 'media/' %}{{book.bimg}}" width="48px" height="64px"></td>
                    <td width="10%">{{ book.bpub_date | date:'Y-m-d' }}</td>
                    <td width="5%">{{ book.bread }}</td>
                    <td width="5%">{{ book.bcomment }}</td>
                    <td width="25%"><a href="{% url 'booktest:detail1' id=book.id %}">查看</a>&nbsp; &nbsp;<a href="{% url 'booktest:add' %}">新增</a>&nbsp; &nbsp;
                        <a href="{% url 'booktest:edit' id=book.id %}">编辑</a>&nbsp; &nbsp;<a href="{% url 'booktest:delete1' id=book.id %}">删除</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6" style="text-align: center;"> 查无数据</td>
                </tr>
            {% endfor %}
        </table>
        {% for pindex in plist %}
            {% if pIndex == pindex %}
                {{pindex}} &nbsp;&nbsp;
            {% else %}
                <a href="{% url 'booktest:list1' pIndex=pindex pSize=10 %}">{{pindex}}</a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
    {{ block.super }}
{% endblock %}